<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/img/isotipo-blue.ico" type="image/x-icon">

  <!-- Styles -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/style.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap"
    rel="stylesheet">

  <!-- Title -->
  <title>NotesLab</title>
</head>

<body>

  <!-- Header -->
  <header class="header">
    <div class="header__box">
      <a href="/" class="header__logo-link">
        <img src="/img/logo-blue.png" alt="Logo NotesLab" class="header__logo">
      </a>
      <div class="header__box-login-user">
        <span class="header__theme header__theme--blue"></span>
        <span class="header__theme header__theme--pink"></span>
        <span class="header__theme-main"></span>
        <h1 class="header__user-name">
          <%= user ? user.user : "" %>
        </h1>
        <input id="userId" name="user_id" value="<%= user.id %>" hidden>
        <a type="button" href="logout"><img src="/img/logout-icon.png" alt="Log out icon"
            class="header__logout-icon"></a>
        <img src="/img/avatar-blue.png" alt="Avatar User" class="header__avatar-user">
      </div>
    </div>
  </header>

  <!-- Dashboard -->
  <div class="dashboard__blur blur-left"></div>
  <div class="dashboard__blur blur-right"></div>
  <div class="dashboard">


    <% for (let columnId of columns) { %>
      <div class="dashboard__column-notes">
        <div class="dashboard__box-scroll-notes">
          <% for (let note of columnNotes[columnId]) { %>
            <div class="dashboard__note">
              <div class="note__header note__header--<%= note.color %>">
                <h1 class="note__title">
                  <%= note.title %>
                </h1>
                <div class="note__box-icons">
                  <a href="/edit-note/<%= note.id %>"><img src="/img/edit-icon.png" alt="Edit icon"
                      class="note__icon"></a>
                  <a href="/delete-note/<%= note.id %>"><img src="/img/delete-icon.png" alt="Delete icon"
                      class="note__icon"></a>
                </div>
              </div>
              <div class="note__contents">
                <p class="note__p">
                  <%= note.content %>
                </p>
              </div>
            </div>
            <% } %>
        </div>
        <a class="dashboard__add-note" href="/create-note?column_id=<%= columnId %>">
          <img src="/img/add-icon.png" alt="Add note icon" class="dashboard__add-icon">
          <h2 class="dashboard__add-text">New note</h2>
        </a>
      </div>
      <% } %>

        <a class="dashboard__add-column" href="/create-column">
          <img src="/img/add-icon.png" alt="Add note icon" class="dashboard__add-icon">
          <h2 class="dashboard__add-text">New note</h2>
        </a>





  <script src="/js/changeTheme.js"></script>
</body>

</html>